@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.components-below-navbar {
    padding-top: 100px;
}

.title-container{
    text-align: center;
    color: #1c3074;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.firmware-form-control{
    text-align: center !important;
    margin: auto !important;
}

.firmware-div {
    margin-top: 10px !important;
}

.firmware-form-btn{
    margin-top: 30px;
}

.view-firmware-table-btn {
    width: 350px !important; 
    margin: auto !important;
    margin-top: 20px !important;
}

.firmware-table-view {
    margin: auto;
    text-align: center;
    margin-top: 30px;
}