.garuda-layout-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 50%;
  right: 50%;
  top: 50%;
  /* transform:  translate(-50%, -50%); */
}

.locker-common-des {
  vertical-align: middle;
  text-align: center;
  border-style: solid; 
  box-shadow: 0px 0px 1px 1px #1E367B !important;
  border-radius:10%;
  margin: 2px;
  border: none;
}

.small-locks {
  height: 50px;
  width: 50px;
}

.medium-locks {
  height: 100px;
  width: 50px;
}

.large-locks {
  height: 59px;
  width: 100px;
}

.elarge-locks {
  height: 124px;
  width: 100px;
}

.qr-container {
  width: 105px;
  height: 50px;
}

.second-column-row button {
  margin-right: 2px;
}

.locker-common-des:active {
  box-shadow: 0px 0px 1px 1px #fd7b7b !important;
}

.first-column,
.second-column,
.fourth-column {
  display: flex;
  flex-direction: column;
}

  @media only screen and (max-width: 600px) {

    .grid-container {
      width: 100% !important;
      margin: 0px;
      padding: 0px;
    }

    .garuda-layout-container {
      width: 380px !important;
      padding: 0px !important;
      margin: 0px !important;
      overflow: hidden !important;
      justify-content: center;
      /* left: 50%;
      right: 50%;
      top: 50%; */
    }

    .small-locks {
      height: 40px;
      width: 40px;
    }
    
    .medium-locks {
      height: 80px;
      width: 40px;
    }
    
    .large-locks {
      height: 45px;
      width: 90px;
    }
    
    .qr-container {
      width: 90px;
      height: 40px;
    }
  }

  @media only screen and (min-width:600px) and (max-width: 900px) {

  }